{% extends "base.html.twig" %}
{% block title %}Inscription !
{% endblock %}
{% block body %}
	<div class="section">

		{% for message in app.flashes('success')  %}
			<div class="success-message">
				{{message}}
			</div>
		{% endfor %}
		<div class="form-login">
			<h1 class="section-title">Inscription</h1>
			<div class="form-container">

				{{form_start(registerForm)}}
				<div class="form-input">
					{{form_row(registerForm.email)}}</div>

				<div class="form-input">
					{{form_row(registerForm.plainPassword)}}</div>

				<div class="form-input">
					{{form_row(registerForm.agreeTerms)}}</div>


				<button class="button submit" type="submit">S'inscrire</button>
				{{form_end(registerForm)}}
			</div>
			<div class="form-question">
				<p>Vous avez déjà un compte ?</p>
				<a href="{{path('app_login')}}">C'est par ici !</a>
			</div>
		</div>
	</div>
{% endblock %}
