{% extends "base.html.twig" %}

{% block title %}
	{{title}}
{% endblock %}
{% block body %}
	<h1 class="text-center">{{title}}</h1>

	{% for article in articles %}


		<div
			class="flex flex-wrap mx-52">
			<!--article-->

			<div class="flex flex-wrap my-5 rounded-lg shadow-lg p-5 w-full justify-around">

				<div class="image-article ">
					<img class="w-72 h-72" src="{{article.image }}"></div>

				<div class="text-article mx-20  ">
					<h2>{{article.title}}</h2>
					<p class="text-green">Hier à 14h50</p>
					<p class="text-lg w-96">{{article.content}}</p>

				</div>
				<div class=" flex items-center">
					<a href="{{path('blog_read', {'id': article.id})}}">
						<button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none ">En voir plus</button>
					</a>
				</div>
			</div>

		</div>


	{% endfor %}

{% endblock %}
