{% extends "base.html.twig" %}

{% block title %}
	{{title}}
{% endblock %}
{% block body %}
	<h1 class="text-4xl text-center mt-10 text-green">{{title}}</h1>


	{% if items | length > 0 %}

		<div class="my-5 flex lg:justify-end justify-center lg:mx-20  relative 2xl:sticky top-0 text-4xl ">

			<div class="border-green border-2 rounded-lg p-3 bg-white shadow-lg">Total :

				{{total}}
				€
				<!--BOUTON PAYPAL-->
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class=" my-5">
					<input type="hidden" name="cmd" value="_s-xclick"/>
					<input type="hidden" name="hosted_button_id" value="UUZU4C87Z4R7A"/>
					<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne"/>
					<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1"/>
				</form>
			</div>
		</div>

		{% for item in items %}
			<div class="mx-5 text-xl my-20 flex flex-wrap justify-evenly border-b-2">

				<div class="image ">


					<img class=" w-80 object-cover  " src="/images/huiles/{{item.huile.filename}}" alt="">


				</div>
				<div class="description">
					<p>Nom :
						{{item.huile.name}}</p>

					<p>Capacité :
						{{item.huile.capacity}}
						ml</p>
					<p>Quantité :
						{{item.quantity}}</p>
					<label for="quantity-select">Choisissez une quantité :</label>
					<select name="quantities" id="quantity-select">
						<option value="">--Quantité(s)--</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>

					<p>Prix unitaire :
						{{item.huile.price}}
						€</p>

					<p>Sous-total :
						{{item.huile.price * item.quantity}}
						€</p>
					<a href="#">
						<i class="fa fa-trash fa-2x text-gray-700"></i>
					</a>

				</div>

			</div>

		{% endfor %}


	{% else %}
		<p class="text-center text-xl">Surprise c'est vide !
		</p>
	{% endif %}


{% endblock %}
