{% extends "base.html.twig" %}

{% block title %}
	{{title}}
{% endblock %}
{% block body %}
	<h1 class="text-4xl text-center mt-10 text-green">{{title}}</h1>


	{% if items | length > 0 %}


		{% for item in items %}
			<div class=" text-xl my-20 flex flex-wrap justify-evenly border-b-2">

				<div class="image">

					<img src="{{item.huile.image}}">

				</div>
				<div class="description">
					<p>Nom :
						{{item.huile.name}}</p>

					<p>Capacité :
						{{item.huile.capacity}}
						ml</p>
					<p>Quantité :
						{{item.quantity}}</p>
					<p>Prix unitaire :
						{{item.huile.price}}
						€</p>

					<p>Sous-total :
						{{item.huile.price * item.quantity}}
						€</p>
					<a href="#">
						<i class="fa fa-trash fa-2x text-gray-700"></i>
					</a>

				</div>

			</div>

		{% endfor %}


	{% else %}
		<p class="text-center text-xl">Surprise c'est vide !
		</p>
	{% endif %}


	<div class="text-center text-4xl">Total :
		{{total}}
		€</div>
{% endblock %}
