{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="bg-green-200  text-center text-3xl p-2 mb-2 rounded-lg mx-20">
			{{message}}
		</div>
	{% endfor %}

	<main
		id="home">
		<!--présentation huile vegetale-->
		<section>
			<img src="{{asset('/assets/Marché.JPG')}}" class="home-img"/>
			<div class="home-container container grid">
				<div class="home-info">
					<span class="subtitle">Découvrez nos huiles</span>
					<h1 class="title">
						Les huiles végétales
						<br/>
						un véritable élixir
					</h1>
					<a href="" class="button">Découvrir</a>
				</div>
			</div>
		</section>
		<!--elixir de jouvence-->
		<section class="section">
			<div class="elixir-container container grid">
				<div class="elixir-info">
					<h2 class="section-title elixir-title">Elixir de jouvence</h2>
					<ul class="elixir-description">
						<li>fesf</li>
						<li>fsdfsg</li>
						<li>gsdfsfs</li>
						<li>gsdfsfs</li>
						<li>gsdfsdfd</li>
					</ul>
				</div>
				<div class="elixir-img">
					<div class="elixir-img-overlay">
						<img class="elixir-img-two" src="{{asset('/assets/Page Ac.JPG')}}"/>
					</div>
				</div>
			</div>
		</section>
		<!-- qui sommes nous -->
		<section class="section">
			<div class="qui-container container">
				<h2 class="section-title">Qui sommes nous</h2>
				<div class="qui-info">
					<ul class="qui-description">
						<li>fesf</li>
						<li>fsdfsg</li>
						<li>gsdfsfs</li>
						<li>gsdfsfs</li>
						<li>gsdfsdfd</li>
					</ul>
				</div>
				<div class="qui-img">
					<div class="qui-img-overlay">
						<img class="qui-img-one" src="{{asset('/assets/Page Ac.JPG')}}"/>
					</div>
					<div class="qui-img-overlay">
						<img class="qui-img-two" src="{{asset('/assets/Page Ac.JPG')}}"/>
					</div>
					<div class="qui-img-overlay">
						<img class="qui-img-two" src="{{asset('/assets/Page Ac.JPG')}}"/>
					</div>
				</div>
			</div>
		</section>
		<!--nos valeurs et nos engagements-->
		<section class="section">
			<div class="valeur-container container grid">
				<div class="valeur-info">
					<h2 class="section-title valeur-title">
						Nos valeurs et nos engagements
					</h2>
					<ul class="valeur-description">
						<li>fesf</li>
						<li>fsdfsg</li>
						<li>gsdfsfs</li>
						<li>gsdfsfs</li>
						<li>gsdfsdfd</li>
					</ul>
				</div>
				<div class="valeur-liste">
					<ul>
						<li>blkblbllb</li>
						<li>fdsfsdgsf</li>
						<li>sdggsfsdfs</li>
						<li>ggsfsdfdsdf</li>
						<li>gsdgsfsdfd</li>
					</ul>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
