{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	{% for message in app.flashes('success')  %}
		<div class="bg-green-200  text-center text-3xl p-2 mb-2 rounded-lg mx-20">
			{{message}}
		</div>
	{% endfor %}

	<div class="flex justify-center mx-20 ">


		<img class="w-full object-cover opacity-50 h-96 rounded-lg" src="{{ asset('/assets/PageACC.jpg') }}">

	</div>
	<!--content-->


	<div
		class="flex flex-wrap md:flex md:flex-nowrap justify-evenly ">
		<!--texte-->


		<div class="text-justify mt-20 mx-5 md:w-96">

			<h3 class="text-green text-black text-4xl">Elixirs de jouvence</h3>


			<p class="font-bold text-xl ">Son activité principale est la production des huiles végétales vierges première pression à froid à partir des graines germées. Sur ce projet, elle adopte des principes :</p>


			<ul class="text-lg">
				<li>
					- De croire en des producteurs agricoles porteurs des valeurs sur la nourriture saine</li>

				<li>
					- Du bien être de nos clients consommateurs qui est notre préoccupation quotidienne</li>


				<li>- De la gestion des ressources de l’environnement au plus près des besoins de nos consommateurs clients et dans le respect de la biodiversité</li>


				<li>
					- De transformer des issues de l’agriculture biologique en respectant les valeurs nutritionnelles</li>


				<li>- De promouvoir le partage des ressources naturelles et d’éviter le gaspillage</li>


			</ul>


		</div>
		<!--image-->
		<div>
			<img class="w-96 mt-20  object-cover rounded-lg" src="{{ asset('/assets/Page Ac.jpg') }}"></div>


	</div>

	<div class="flex flex-col justify-evenly  mx-20 my-10 bg-gray-100 shadow-lg rounded-lg">


		<div class="flex flex-col flex-wrap justify-center   ">
			<h1 class="text-green text-center py-10 text-4xl">
				Qui sommes nous ?</h1>


			<p class="max-w-lg  h-60 text-xl text-justify mx-auto relative">
				<span class="text-green lg:text-6xl">"</span>«HuilesVégétales_AK» tirent ses ressources d’exploitation des végétaux existant dans leur milieu naturel sur les cinq continents. cette démarche éco-responsable et éco-solidaire impose de restituer à l’état pur les huiles vierges offrant la meilleure garantie de qualité pour une meilleure efficience de ces «elixirs de jouvence».


				<span class=" text-green lg:text-6xl lg:absolute lg:right-0 lg:-bottom-5 ">
					"</span>
			</p>


		</div>
		<div class="imageAccueil my-5">
			<img class="  mt-10  object-cover rounded-lg" src="{{ asset('/assets/Marché.jpg') }}"></div>

	</div>
	<div class="flex justify-evenly mx-5 my-10">
		<div class="flex flex-col flex-wrap justify-center  my-5 ">
			<h1 class=" text-green text-center  py-12 text-4xl ">

				Nos valeurs et nos engagements</h1>

			<ul class="max-w-lg ">

				<li class="text-xl">
					<i class="text-green fa fa-check  " aria-hidden="true"></i>Satisfaire vos besoins</li>


				<li class="text-xl">

					<i class="text-green fa fa-check " aria-hidden="true"></i>Partager vos valeurs d’éco-responsable, de solidarité et votre éthique</li>


				<li class="text-xl">

					<i class=" text-green fa fa-check " aria-hidden="true"></i>Faire respecter et rendre transparent nos engagements qualités : Origine des produits biologique, produire en France à partir des graines germées</li>


				<li class="text-xl">

					<i class="text-green fa fa-check " aria-hidden="true"></i>Produire les huiles vierges de première pression à froid à partir de pesse mécanique</li>


				<li class="text-xl">

					<i class=" text-green fa fa-check " aria-hidden="true"></i>Oeuvrer pour une gestion raisonnée des ressources naturelles et la protection de l’environnement</li>
			</ul>
		</div>
		<div>
			<img class=" w-96 mt-20  object-cover rounded-lg" src="{{ asset('/assets/Presse hydraulique.jpg') }}"></div>

	</div>
{% endblock %}
