{% extends "base.html.twig" %}
{% block body %}
	<div class="section">
		<div class="form-login">
			<h1 class="section-title">Ajouter une nouvelle famille</h1>
			<div class="form-container">
				{{form_start(form) }}
				<div class="form-input">
					{{form_row(form.name)}}</div>
				<div class="form-input">
					{{form_row(form.story)}}</div>
				<div class="form-input">
					{{form_row(form.active)}}</div>
				<button class="button submit" type="submit">Enregistrer</button>
				{{form_end(form)}}
			</div>
		</div>
	</div>
{% endblock %}
