<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
		<link rel="stylesheet" id="fa-fonts-css" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css?ver=5.2" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/style.css">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}


	</head>
	<body>
		<nav class="w-screen flex justify-evenly items-center h-72 px-4 text-2xl">

			<a class="text-survol text-gray-600 no-underline logo" href="{{path('index')}}" title="Accueil"><img class="mt-10" src="{{ asset('/assets/logo-removebg-preview.png') }}"></a>


			<div class="menu-desktop ">
				<a class="text-survol text-gray-600 no-underline mx-2" href="{{path('huiles')}}">Huiles Végétales</a>


				<a class="text-survol text-gray-600 no-underline mx-2" href="{{path('huile_index')}}">Produits</a>


				<a class="text-survol text-gray-600 no-underline mx-2" href="{{path('blog')}}">Blog</a>
				<a class="text-survol text-gray-600 no-underline" href="{{path('cart')}}">Mon panier</a>
			</div>
			<!--MENU MOBILE-->
			<div class="menu-btn flex-col text-center">
				<span></span>

				<ul>
					<li><a class="text-survol text-gray-600 no-underline"href="{{path('huiles')}}">Huiles Végétales</a></li>
					<li><a class="text-survol text-gray-600 no-underline"href="{{path('huile_index')}}">Produits</a></li>
					<li><a class="text-survol text-gray-600 no-underline"href="{{path('blog')}}">Blog</a></li>
					<li><a class="text-survol text-gray-600 no-underline"href="{{path('cart')}}">Mon panier</a></li>
				</ul>
			</div>

		</nav>


		{% block body %}{% endblock %}
		<div
			class="bg-gray-700 h-96 mt-20 md:mt-0 md:pt-40  w-screen text-white py-10 flex-col sm:flex sm:flex-wrap sm:flex-row text-center justify-evenly align-middle">
			<!--texte-->
			<div class="py-5">
				<h1 class="text-lg md:text-6xl text-green">Huiles Végétales KA</h1>
				<p class=" md:text-2xl">Les huiles végétales, un véritable elixir</p>
			</div>
			<!--contact-->
			<div class="text-lg py-5">
				<h3 class="text-4xl font-bold ">Nous contacter</h3>
				<p class="text-xl">
					<i class="fa fa-phone text-green" aria-hidden="true"></i>06.87.93.26.74</p>
				<p class="text-xl">
					<i class="fa fa-envelope text-green" aria-hidden="true"></i>kaele.andji@gmail.com</p>
			</div>
			<!--mentions-->
			<div class=" text-lg py-5">
				<a class="text-white text-survol no-underline" href="{{path('mentions')}}">Mentions légales</a>
			</div>
		</div>
		{% block javascripts %}{#{{ encore_entry_script_tags('app') }}#}<script src="/js/main.js"></script>
		{% endblock %}

	</body>
</html>
