<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
		<link rel="stylesheet" id="fa-fonts-css" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css?ver=5.2" type="text/css" media="all"/>


		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<nav class="w-screen flex justify-evenly items-center h-72 px-4 text-gray-600 text-2xl">

			<a class="hover:text-green-400" href="{{path('index')}}" title="Accueil"><img class="mt-10" src="{{ asset('/assets/new_logo.png') }}"></a>

			<a class="hover:text-green-400" href="{{path('huiles')}}">Huiles Végétales</a>

			<a class="hover:text-green-400" href="{{path('produits')}}">Produits</a>

			<a class="hover:text-green-400" href="{{path('blog')}}">Blog</a>


		</nav>

		{% block body %}{% endblock %}

		<div
			class="bg-gray-700 h-96 mt-20 md:mt-0 md:pt-40 w-screen text-white  flex flex-wrap text-center justify-evenly align-middle">
			<!--texte-->
			<div class="  ">

				<h1 class="text-lg md:text-6xl text-green-400">Huiles Végétales KA</h1>
				<p class=" md:text-2xl">Les huiles végétales, un véritable elixir</p>
			</div>
			<!--contact-->
			<!--<div class=" flex flex-col   text-center w-96 mx-auto  mt-5 ">
																																																																																																																																																																																										
																																																																																																																																																																																														<h3 class="text-4xl font-bold">Nous contacter</h3>
																																																																																																																																																																																														<label for="name"></label>
																																																																																																																																																																																														<input class="m-2 h-10 border-b-2 border-gray-300 focus:border-green-400  bg-transparent" type="text" id="name" name="name" placeholder="Votre nom">
																																																																																																																																																																																														<label for="email"></label>
																																																																																																																																																																																														<input class="m-2 h-10 border-b-2 border-gray-300 focus:border-green-400  bg-transparent" type="email" id="email" name="email" placeholder="Votre email">
																																																																																																																																																																																										
																																																																																																																																																																																														<button class=" rounded-2xl w-full h-12 bg-green-400 hover:bg-green-600 hover:text-white text-black font-bold text-xl mt-10 mx-auto " type="submit">Envoyer</button>
																																																																																																																																																																																													</div>-->
			<!--follow-->

				<div class="text-lg  "> <h3 class="text-4xl font-bold ">Nous contacter</h3>


				<p class="text-xl">
					<i class="fa fa-phone text-green-400" aria-hidden="true"></i>
					06.87.93.26.74</p>
				<p class="text-xl">
					<i class="fa fa-envelope text-green-400" aria-hidden="true"></i>
					kaele.andji@gmail.com
				</p>


			</div>
			<!--mentions-->


			<div class=" text-white text-lg">
				<a class="hover:text-green-400" href="{{path('mentions')}}">Mentions légales</a>
			</div>

		</div>


	</body>
</html>
