<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<link href="/css/tailwind.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


		<link rel="stylesheet" id="fa-fonts-css" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css?ver=5.2" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="icon" type="image/png" href="/assets/logo-removebg-preview.png"/>

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}


	</head>
	<body>
		<nav class="flex justify-evenly items-center my-5 h-52 px-4 text-2xl ">

			<a class=" text-gray-600  logo" href="{{path('index')}}" title="Accueil"><img class="mt-10 " src="{{ asset('/assets/logo-removebg-preview.png') }}"></a>

			<div class="menu-desktop ">

				{% if is_granted("ROLE_ADMIN")%}
					<a class="link text-gray-600  mx-2" href="{{path('admin_huiles_index')}}">Administration</a>
				{% endif %}


				<a class="link text-gray-600  mx-2" href="{{path('huiles')}}">Huiles Végétales</a>
				<a class="link text-gray-600  mx-2" href="{{path('huile_index')}}">Produits</a>
				<a class="link text-gray-600  mx-2" href="{{path('blog')}}">Blog</a>
				<a class="link text-gray-600 " href="{{path('cart')}}">Mon panier</a>


			</div>
			<!--test-->
			<div class="dropdown text-green menu-desktop">
				<button type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" class="border-green border-2 p-3 rounded-lg focus:outline-none">
					Mon compte
				</button>
				<ul class="dropdown-menu pl-3" aria-labelledby="dropdownMenu2">


					<li>
						<a class="link text-gray-600 text-xl" href="{{path('app_login')}}">Connexion</a>
					</li>
					<li>
						<a class="link text-gray-600 text-xl" href="{{path('app_logout')}}">Déconnexion</a>

					</li>
					<li>
						<a class="link text-gray-600 text-xl" href="{{path('app_register')}}">Inscription</a>

					</li>
				</ul>
			</div>
			<!--test-->


			<!--MENU MOBILE-->
			<div class="menu-btn flex-col text-center">
				<span></span>

				<ul>
					<li>
						{% if is_granted("ROLE_ADMIN")%}
							<a class="  " href="{{path('admin_huiles_index')}}">Administration</a>
						{% endif %}
					</li>

					<li>
						<a class=" " href="{{path('huiles')}}">Huiles Végétales</a>
					</li>
					<li>
						<a class=" " href="{{path('huile_index')}}">Produits</a>
					</li>
					<li>
						<a class=" " href="{{path('blog')}}">Blog</a>
					</li>
					<li>
						<a class=" " href="{{path('cart')}}">Mon panier</a>
					</li>
				</li>
				<li>
					<a class="border-green border-2 rounded-lg p-3" href="{{path('app_login')}}">Se connecter</a>
				</li>
				<li>
					<a class="border-green border-2 rounded-lg p-3" href="{{path('app_logout')}}">Déconnexion</a>

				</li>
			</ul>


		</div>
	</body>
</html></nav><div class="text-gray-600 text-2xl text-right  mx-20">
{% if app.user %}
	Vous êtes connecté :
	<span class="text-green">{{ app.user.username }}</span>
{% endif %}</div>{% block body %}{% endblock %}<div class="bg-gray-700  mt-20   text-white  flex-col sm:flex sm:flex-wrap sm:flex-row text-center justify-evenly align-middle ">
<div class="custom-shape-divider-top-1624862864">
	<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1200 120" preserveaspectratio="none">
		<path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
		<path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
		<path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
	</svg>
</div>


<!--texte-->
<div class="py-5">
	<h1 class="text-3xl md:text-5xl text-green">Huiles Végétales KA</h1>
	<p class=" md:text-2xl">Les huiles végétales, un véritable elixir</p>
</div>

<!--contact-->
<div class="text-xl  py-5">

	<a href="{{path('app_contact')}}" class="hover:no-underline">


		<div class="border-2 border-white p-3 py-2 rounded-lg relative">

			<span class="text-white pl-5">Nous contacter</span>
			<span class="text-3xl absolute left-1 top-0">
				<i class="fa fa-phone text-green" aria-hidden="true"></i>
			</span>
			<span class="text-3xl absolute left-1 bottom-0">
				<i class="fa fa-envelope text-green" aria-hidden="true"></i>
			</span>
		</div>
	</a>


</div>

<!--mentions-->
<div class="text-lg py-5">
	<a class="text-white text-survol no-underline text-xl" href="{{path('mentions')}}">Mentions légales</a>
</div></div>{% block javascripts %}{#{{ encore_entry_script_tags('app') }}#}<script src="/js/main.js"></script>{% endblock %}</body></html>
