{% extends "base.html.twig" %}
{% block body %}
	<div class="section">

		<div class="form-login">

			<h1 class="section-title">Modifier l'article
				<span>{{article.title}}</span>
			</h1>

			<div class="form-container">
				{{ form_start(form) }}
				<div class="form-input">
					{{form_row(form.title)}}</div>
				<div class="form-input">
					{{form_row(form.content)}}</div>
				<div class="form-input">
					{{form_row(form.image)}}</div>
				<button class="button submit" type="submit">Enregistrer</button>
				{{form_end(form)}}
			</div>
			<div class="form-content">
				{% for pictureArticle in article.pictureArticles %}
					<div>
						<img style="width:100%; height:100px; object-fit:cover;" src="{{asset('/uploads/'~ pictureArticle.name)}}">
						<form method="post" action="{{path('admin_article_picture_delete',{'id': pictureArticle.id})}}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ?')">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pictureArticle.id) }}">
							<input type="hidden" name="_method" value="DELETE">
							<button class="button submit" type="submit">Supprimer image</button>
						</form>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
