{% extends "base.html.twig" %}
{% block body %}
	<div class="section"></div>
	<h1 class="text-center">Modifier l'article :
		<span class="text-green">{{article.title}}</span>
	</h1>
	<div class="flex flex-wrap justify-evenly ">
		<div class=" flex w-96  p-5 shadow-lg rounded-lg">

			{{ form_start(form) }}
			{{form_row(form.title)}}
			{{form_row(form.content)}}
			{{form_row(form.image)}}


			<button class="text-green  text-xl border-green border-2 p-3 rounded-lg focus:outline-none my-5" type="submit">Enregistrer</button>

			{{form_end(form)}}</div>


		<!---->
		<div class="flex flex-wrap my-5">
			{% for pictureArticle in article.pictureArticles %}
				<div class="mx-2">
					<img class="object-cover rounded-lg w-52" src="{{asset('/uploads/'~ pictureArticle.name)}}">

					<div class="  my-2 mx-2">
						<form method="post" action="{{path('admin_article_picture_delete',{'id': pictureArticle.id})}}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ?')">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pictureArticle.id) }}">
							<input type="hidden" name="_method" value="DELETE">
							<button class="text-green border-green border-2 p-3 rounded-lg focus:outline-none w-full" type="submit">Supprimer image</button>
						</form>
					</div>
				</div>
			{% endfor %}
		</div>
		<!---->
	</div>

{% endblock %}
