{% extends "base.html.twig" %}
{% block body %}
	<div class="section">
		<div class="container grid">
			<h1 class="section-title">Administration article</h1>
			{% for message in app.flashes('success')  %}
				<div class="success-message">
					{{message}}
				</div>
			{% endfor %}

			<!--bouton ajout-->
			<div>
				<a href="{{path('admin_article_create')}}">
					<button class="button">
						Ajouter un article
					</button>
				</a>
			</div>
			{% for article in articles %}
				<details class="admin-details">
					<summary class="admin-summary">
						<div class="admin-info">
							{{article.title}}
							{{article.createdAt|date("d/m/Y H:i","Europe/Paris")}}
						</div>
						<div class="admin-buttons">
							<a href="{{path('admin_article_edit',{'id': article.id})}}">
								<button class="button edit-button">Modifier</button>
							</a>
							<form method="post" action="{{path('admin_article_delete',{id:article.id})}}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer {{article.title}}?')">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
								<input type="hidden" name="_method" value="DELETE">
								<button class="button delete-button">Supprimer</button>
							</form>
						</div>
					</summary>
					<div class="admin-summary-list">
						<div class="admin-info">
							{% for pictureArticle in article.pictureArticles %}
								<img style="height:200px; width:100%; object-fit:cover" src="{{asset('/uploads/'~ pictureArticle.name)}}">
							{% endfor %}
						</div>
					</div>
				</details>
			{% endfor %}
		</div>
	</div>


{% endblock %}
