{% extends "base.html.twig" %}
{% block body %}

	<h1 class="text-center">Administration article</h1>
	<div class="mx-28">
		{% for message in app.flashes('success')  %}
			<div class="bg-green-200  text-center text-3xl p-2 mb-2 rounded-lg mx-20">
				{{message}}
			</div>
		{% endfor %}
		<a href="{{path('admin_article_create')}}">
			<button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none ">
				Ajouter un article
			</button>
		</a>
		<table class="w-full my-5  table-striped text-center">
			<thead class="border-b-2 font-bold text-2xl">
				<tr class="uppercase">
					<th>id</th>
					<th>titre</th>
					<th>contenu</th>
					<th>image</th>
					<th>creation</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr class="cursor-pointer text-xl border-b-2 ">
						<td>{{article.id}}</td>
						<td>{{article.title}}</td>
						<td class="w-96  text-justify">{{article.content}}</td>
						<td class="w-52">
							{% for pictureArticle in article.pictureArticles %}
								<img class="object-cover rounded-lg " src="{{asset('/images/articles/'~ pictureArticle.name)}}">
							{% endfor %}
						</td>
						<td>{{article.createdAt|date("d/m/Y H:i","Europe/Paris")}}</td>
						<td class="flex  justify-center">
							<a href="{{path('admin_article_edit',{'id': article.id})}}">
								<button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none mx-2">Modifier</button>
							</a>
							<form method="post" action="{{path('admin_article_delete',{id:article.id})}}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer {{article.title}}?')">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
								<input type="hidden" name="_method" value="DELETE">
								<button class="text-red-500 text-xl border-red-500 border-2 p-3 rounded-lg focus:outline-none">Supprimer</button>

							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
