{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

	<section class="section">
		<h1 class="section-title">Famille des
			{{family.name}}
		</h1>
	</section>
	<section>
		{% if family.story %}
			<details>
				<summary>Histoire botanique</summary>
				{{family.story}}
			</details>
		{% endif %}
	</section>


	<!---->
	<div class="product-container">
		{% for huile in huiles|sort((a, b) => a.name <=> b.name) %}
			{% if huile.active %}
				<section class="section-product">

					<div class="product-content container grid">
						<a href="{{path('huile_read', {id: huile.id, slug:huile.slug})}}">
							<div class="product">
								{% for image in huile.images %}
									<div class="product-img">
										<img src="{{ asset('/assets/Marché.JPG')}}"/>
									</div>
								{% endfor %}
								{% if huile.images.isempty %}
									<div class="product-img">
										<img src="{{ asset('/assets/Marché.JPG')}}"/>
										<span>Image non disponible</span>
									</div>
								{% endif %}
								<div class="product-info">
									<div class="product-description">
										<h3 class="product-title">{{huile.name}}</h3>

										<div class="container-price">
											<p class="product-size">Black - L</p>
											<div class="product-icon-stars">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

				</section>
			{% endif %}
		{% endfor %}
	</div>
	<!---->


{% endblock %}
