{% extends "base.html.twig" %}
{% block title %}Produits
{% endblock %}
{% block body %}
	<!--page de mes produits-->
	<h1 class="text-4xl text-center mt-10 text-green">{{message}}</h1>
	<div class="flex flex-wrap justify-center">

		{% for huile in huiles %}

			<div class="oil-product mt-10 my-20  m-2 cursor-pointer w-80 shadow-2xl rounded-lg">
				<a href="{{path('huile_read', {id: huile.id, slug:huile.slug})}}">
					<div class="oil-image my-5 w-80 h-80">
						{% if huile.filename %}
							<img class="object-cover mx-auto" src="{{vich_uploader_asset(huile, 'imageFile')| imagine_filter('thumb')}}" alt="">

						{% else %}
							<img class="object-cover mx-auto" src="{{ asset('images/huiles/notfound.jpg')| imagine_filter('thumb')}}">

						{% endif %}


					</div>
				</a>

				<div class="oil-description ml-5 mt-5">
					<span class="font-bold text-3xl md:text-2xl text-green">{{huile.name}}</span>
					<p class="text-xl">{{huile.description}}</p>
					<p class=" text-3xl sm:text-2xl">
						{{huile.capacity}}
						ml
					</p>
					<p class="text-3xl sm:text-2xl font-bold">{{huile.price}}<span class="font-bold text-green">€</span>
					</p>
					<div class="flex justify-center mt-5">
						<a href="{{path('cart_add',{'id':huile.id})}}">
							<button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none mb-2">


								Ajouter au panier</button>
						</a>
					</div>
				</div>

			</div>


		{% endfor %}
	</div>

{% endblock %}
