{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

	<section class="section">
		<h1 class="section-title">Famille des
			{{family.name}}
		</h1>
	</section>
	<section>
		{% if family.story %}
			<details>
				<summary>Histoire botanique</summary>
				{{family.story}}
			</details>
		{% endif %}
	</section>


	<div class="section">
		<div class="product-container  grid">
			{% for huile in huiles|sort((a, b) => a.name <=> b.name) %}
				{% if huile.active %}
					<a href="{{path('huile_read', {id: huile.id, slug:huile.slug})}}">
						<div class="product">
							<div class="product-img">
								<div class="slideshow">
									<ul>
										{% for image in huile.images  %}
											<li><img style="width:400px;height:100%; object-fit:cover;" src=" {{ asset('uploads/'~ image.name)}} "></li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="product-info">
								<p>{{huile.name}}</p>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>

{% endblock %}
