{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

	<div class="flex flex-wrap justify-center">

		<h1 class="text-center text-green text-4xl mx-5">Famille des
			{{family.name}}
		</h1>
		{% if family.story %}
			<a class=" no-underline text-green border-green border-2 rounded-lg p-2 my-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				Histoire botanique
			</a>
		{% endif %}
	</div>
	<div class="collapse" id="collapseExample">
		<div class="card card-body text-lg">
			{{family.story}}
		</div>
	</div>

	<div class="flex flex-wrap justify-center xl:mx-52">

		{% for huile in huiles|sort((a, b) => a.name <=> b.name) %}
			{% if huile.active %}

				<div class="card mx-10 my-10" style="width:18rem;">
					<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
						<div class="carousel-inner">
							{% for image in huile.images %}
								<div class="carousel-item {% if loop.first %} active {% endif %}">
									<img src="{{ asset('/uploads/'~ image.name)}}" alt="Image" class="card-img-top" style="height:200px;">
								</div>
							{% endfor %}
							{% if huile.images.isempty %}
								<div class="flex flex-col text-center text-black uppercase font-semibold text-xl py-5 bg-gray-100" style="height:200px">
									<span>Image non disponible</span>
									<span class="text-7xl">X</span>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="card-body">
						<h5 class="card-title">{{huile.name}}</h5>

					</div>
					<div class="card-body bg-white">
						<a href="{{path('huile_read', {id: huile.id, slug:huile.slug})}}" class=" no-underline text-green border-green border-2 rounded-lg p-2 my-2">Voir le produit</a>
					</div>
				</div>

			{% endif %}
		{% endfor %}
	</div>

{% endblock %}
