{% extends "base.html.twig" %}
{% block title %}acheter les huiles
{% endblock %}
{% block body %}
	<!--page de mes produits-->
	<h1 class="text-4xl text-center mt-10 text-green">{{message}}</h1>
	<div class="flex flex-wrap justify-center">

		{% for huile in huiles %}
			<div class="oil-product mt-10 my-20  m-2 cursor-pointer w-96 shadow-2xl rounded-lg">
				<div class="oil-image">
					<img class=" w-full h-full object-cover " src="{{huile.image}}" alt="">

				</div>
				<div class="oil-description ml-5 mt-5">
					<span class="font-bold text-3xl md:text-2xl text-green">{{huile.name}}</span>
					<span class="text-xl">{{huile.description}}</span>
					<p class=" text-3xl sm:text-2xl">
						{{huile.capacity}}
						ml
					</p>
					<p class="text-3xl sm:text-2xl font-bold">{{huile.price}}<span class="font-bold text-green">€</span>
					</p>
					<div class="flex justify-center mt-5">
						<a href="{{path('cart_add',{'id':huile.id})}}">
							<button class="btn mt-0 my-5 p-2 -ml-7 uppercase text-2xl border-2">

								Ajouter au panier</button>
						</a>
					</div>
				</div>

			</div>


		{% endfor %}
	</div>

{% endblock %}
