{% extends "base.html.twig" %}

{% block title %}
	{{huile.name}}
{% endblock %}

{% block body %}
	<div class="section">
		<div class="container grid">
			<div class="slideshow">
				<ul>
					{% for image in huile.images  %}
						<li><img style="width:400px; height:100%; object-fit:cover;" src=" {{ asset('uploads/'~ image.name)}} "></li>
					{% endfor %}
				</ul>
			</div>
			<div class="carousel-mobile">
				{% for image in huile.images  %}
					<img style="height:200px; width:100%; object-fit:cover;" src=" {{ asset('uploads/'~ image.name)}} ">
				{% endfor %}
			</div>

			{% if huile.images.isempty %}
				<div>
					<span>Image non disponible</span>
				</div>
			{% endif %}
			<div>
				<h3>{{huile.name}}</h3>
				<p>
					<span>Description:</span>
					{{huile.description}}
				</p>
				<ul>
					<li>
						<span>Prix:</span>
						{{huile.price}}
						€</li>
					<li>
						<span>Capacité:</span>
						{{huile.capacity}}
						ml</li>
					<li>
						<span>Utilisation:</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae</p>
					</li>
				</ul>
				<div>
					<!--{% if is_granted("ROLE_USER")%}-->
					<!--<a href="{{path('cart_add',{'id':huile.id})}}" ><button class="button">Ajouter au panier</button></a>-->
					<!--{% else %}-->
					<!--<a href="{{path('app_login')}}" ><button class="button">Ajouter au panier</button></a>-->
					<!--{% endif %}-->
					<!--lien ci-dessous factice-->
						<a href="#" class="button"> Ajouter au panier</a>
				</div>

			</div>
		</div>
	</div>


{% endblock %}
