{% extends "base.html.twig" %}

{% block title %}
	{{huile.name}}
{% endblock %}

{% block body %}


	<div class="flex xl:flex-col flex-wrap text-xl my-20 bg-gray-200 py-10">

		<div id="carouselExampleControls" class="carousel slide xl:w-80 mx-auto" data-bs-ride="carousel">

			<div class="carousel-inner px-5">
				{% for image in huile.images %}
					<div class="carousel-item {% if loop.first %} active {% endif %}">
						<img src="{{ asset('/uploads/'~ image.name)}}" alt="Image" style="height:300px; width:300px; object-fit:cover">
					</div>
				{% endfor %}

			</div>
			{% if huile.images.isempty %}
				<div class="flex flex-col border-2 border-black rounded-lg text-center text-black uppercase font-semibold text-xl py-3 bg-gray-100">
					<span>Image non disponible</span>
					<span class="text-5xl">X</span>
				</div>
			{% endif %}
			<div class="xl:w-96 px-5">
				<p class="font-bold text-2xl text-green">{{huile.name}}</p>
				<p>
					<span class="font-bold">Prix :</span>
					{{huile.price}}
					€</p>
				<p>
					<span class="font-bold">Capacité :</span>
					{{huile.capacity}}
					ml</p>

				<p class="font-bold">Description :</p>

				<p class="text-justify">{{huile.description}}</p>

				<div class="flex mt-5 "><!--{% if is_granted("ROLE_USER")%}-->
					<!--<a href="{{path('cart_add',{'id':huile.id})}}" ><button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none my-3">Ajouter au panier</button></a>-->
					<!--{% else %}-->
					<!--<a href="{{path('app_login')}}" ><button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none my-3">Ajouter au panier</button></a>-->
					<!--{% endif %}-->
				</div>

			</div>
		</div>
		<div class="flex flex-col xl:flex-row mx-auto">
			{% for image in huile.images %}
				<div class="">
					<img src="{{ asset('/uploads/'~ image.name)}}" alt="Image" style="height:200px; width:200px; object-fit:cover">
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
