{% extends "base.html.twig" %}

{% block title %}
	{{huile.name}}
{% endblock %}

{% block body %}


	<div class="flex justify-evenly text-xl my-5">
		<div class="">
			{% if huile.filename %}
				<img class=" w-80 object-cover " src="{{vich_uploader_asset(huile, 'imageFile') | imagine_filter('thumb')}}" alt="">
			{% endif %}
		</div>

		<div class="w-96">
			<p class="font-bold text-2xl text-green">{{huile.name}}</p>
			<p>
				<span class="font-bold">Prix :</span>
				{{huile.price}}
				€</p>
			<p class="font-bold">Description :</p>

			<p class="text-justify">{{huile.description}}</p>
			<hr>
			<p>
				<span class="font-bold">Capacité :</span>
				{{huile.capacity}}
				ml</p>


			<a href="{{path('cart_add',{'id':huile.id})}}">

				<button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none my-5">Ajouter au panier</button>
			</a>
		</div>


	</div>
	<div class="mx-20">
		<h1>Commentaires des clients :
		</h1>
		<p>Système notation</p>


	</div>
{% endblock %}
