{% extends "base.html.twig" %}

{% block title %}
	{{huile.name}}
{% endblock %}

{% block body %}


	<div class="flex justify-evenly text-xl my-5">
		<div class="">
			{% if huile.filename %}
				<img class=" w-80 object-cover " src="{{vich_uploader_asset(huile, 'imageFile') | imagine_filter('thumb')}}" alt="">
			{% endif %}
		</div>

		<div class="w-96">
			<p>{{huile.name}}</p>
			<p>{{huile.price}}
				€</p>
			<hr>
			<p>Capacité :
				{{huile.capacity}}
				ml</p>
			<p>Quantité :
				{{huile.quantity}}</p>

			<label for="quantity-select">Choisissez une quantité :</label>
			<select name="quantities" id="quantity-select">
				<option value="">--Quantité(s)--</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>

			<a href="{{path('cart_add',{'id':huile.id})}}">

				<button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none my-5">Ajouter au panier</button>
			</a>
		</div>


	</div>
	<div class="mx-20">
		<h1>Commentaires des clients :
		</h1>
		<p>Système notation</p>


	</div>
{% endblock %}
