{% extends "base.html.twig" %}

{% block title %}
	{{huile.name}}
{% endblock %}

{% block body %}


	<div class="flex justify-evenly flex-wrap text-xl my-5">
		<div class="flex">
			{% for picture in huile.pictures %}
				<div class="mx-1">
					<img class="object-cover mx-auto" src="{{vich_uploader_asset(picture, 'imageFile')| imagine_filter('thumb')}}" alt="">
				</div>
			{% endfor %}

		</div>

		<div class="w-96">
			<p class="font-bold text-2xl text-green">{{huile.name}}</p>
			<p>
				<span class="font-bold">Prix :</span>
				{{huile.price}}
				€</p>
			<p>
				<span class="font-bold">Capacité :</span>
				{{huile.capacity}}
				ml</p>
			<hr>
			<p class="font-bold">Description :</p>

			<p class="text-justify">{{huile.description}}</p>

			<div class="flex mt-5 "><!--{% if is_granted("ROLE_USER")%}-->
				<!--<a href="{{path('cart_add',{'id':huile.id})}}" ><button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none my-3">Ajouter au panier</button></a>-->
				<!--{% else %}-->
				<!--<a href="{{path('app_login')}}" ><button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none my-3">Ajouter au panier</button></a>-->
				<!--{% endif %}-->
			</div>
		</div>


	</div>

{% endblock %}
