{{ form_start(form) }}
{{form_row(form.name)}}
{{form_row(form.description)}}
{{form_row(form.capacity)}}
{{form_row(form.price)}}
{{form_row(form.image)}}
{{form_row(form.quantity)}}
<button class="text-green text-xl border-green border-2 p-3 rounded-lg focus:outline-none my-5" type="submit">Enregistrer</button>


{{form_end(form)}}
