{{ form_start(form) }}
{{form_row(form.name)}}
{{form_row(form.description)}}
{{form_row(form.capacity)}}
{{form_row(form.price)}}
{{form_row(form.image)}}
{{form_row(form.quantity)}}
<button class="btn my-2" type="submit">Enregistrer</button>


{{form_end(form)}}
