{% extends 'base.html.twig'%}

{% block title 'Administration'%}

{% block body %}
	<div class="section">
		<div class="container grid">
			<h1 class="section-title">Administration</h1>

			{% for message in app.flashes('success')  %}
				<div class="success-message" role="alert">
					{{message}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}

			<!--bouton ajout-->
			<div>
				<a href="{{path('admin_huiles_create')}}" class="button">
					Ajouter huile
				</a>
				<a href="{{path('admin_famille_create')}}" class="button">
					Ajouter famille
				</a>
			</div>
		


			{% for family in families|sort((a, b) => a.name <=> b.name) %}
				<details class="admin-details">
					<summary class="admin-summary">

						<div class="admin-info">
							{{family.name}}
							<label class="switch">
								<input type="checkbox" {{(family.active) ? 'checked' : ''}} data-id="{{family.id}}">
								<span class="slider"></span>
							</label>
						</div>
						<div class="admin-buttons">
							<a href="{{path('admin_family_edit', { id: family.id })}}">
								<button class="button edit-button">Modifier</button>
							</a>
							<form method="post" action="{{path('admin_family_delete',{id:family.id})}}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer {{family.name }}?  Cela entrainera la suppression des huiles associées !')">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ family.id) }}">
								<input type="hidden" name="_method" value="DELETE">
								<button class="button delete-button">Supprimer</button>
							</form>
						</div>
					</summary>
					{% for huile in family.huile|sort((a, b) => a.name <=> b.name) %}
						<div class="admin-summary-list">
							<div class="admin-info">
								{{huile.name}}
								<label class="switch">
									<input type="checkbox" {{(huile.active) ? 'checked' : ''}} data-id="{{huile.id}}">
									<span class="slider"></span>
								</label>
							</div>
							<div class="admin-buttons">
								<a href="{{path('admin_huiles_edit', { id: huile.id })}}">
									<button class="button edit-button">Modifier</button>
								</a>
								<form method="post" action="{{path('admin_huiles_delete',{id:huile.id})}}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer {{huile.name }}?')">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ huile.id) }}">
									<input type="hidden" name="_method" value="DELETE">
									<button class="button delete-button">Supprimer</button>
								</form>
							</div>
						</div>
					{% endfor %}
				</details>
			{% endfor %}
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	<script>
		window.onload = () => {

let activer = document.querySelectorAll("[type=checkbox]")
for (let bouton of activer) {
bouton.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;

xmlhttp.open("get", `/admin/activer/${
this.dataset.id
}`);
xmlhttp.send();
})
}

for (let boutonFamily of activer) {
boutonFamily.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;

xmlhttp.open("get", `/admin/activer/family/${
this.dataset.id
}`);
xmlhttp.send();
})
}
}
	</script>
	<script src="{{asset('js/main.js')}}"></script>
{% endblock %}
